<div class="container">
  <br>
  <h1>03 - Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Var Init</th>
        <th scope="col">Pipe</th>
        <th scope="col">Definition</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>UpperCase</td>
        <td>Mayusculas</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>LowerCase</td>
        <td>Minusculas</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>Corta desde el principio la cadena</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>De donde a donde se quiere cortar de la cadena</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ arrCar }}</td>
        <td>slice:1:3</td>
        <td>Cortando un array de la posicion 1 a la 3</td>
        <td>{{ arrCar | slice:1:3 }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ numPi }}</td>
        <td>number</td>
        <td>Muestra números con el formato default (tamaño = 3)</td>
        <td>{{ numPi | number }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ numPi }}</td>
        <td>number:'3.0-0'</td>
        <td>Muestra 3 enteros y 0 decimales</td>
        <td>{{ numPi | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ numPi }}</td>
        <td>number:'1.0-2'</td>
        <td>Muestra números de un entero y dos decimales </td>
        <td>{{ numPi | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ iva }}</td>
        <td>percent</td>
        <td>Te pasa la cifra a porcentaje</td>
        <td>{{ iva | percent }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ iva }}</td>
        <td>percent:'2.2-2'</td>
        <td>Porcentaje con dos enteros y dos cifras decimales</td>
        <td>{{ iva | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ importe }}</td>
        <td>currency</td>
        <td>Pone la moneda por defecto el dolar</td>
        <td>{{ importe | currency }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ importe }}</td>
        <td>currency:'EUR'</td>
        <td>Pone la moneda de EUROS</td>
        <td>{{ importe | currency:'EUR' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ importe }}</td>
        <td>currency:'EUR':true</td>
        <td>Pone el carácter del EURO</td>
        <td>{{ importe | currency:'EUR':true }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ importe }}</td>
        <td>currency:'EUR':true:'4.0-0'</td>
        <td>Pone el carácter del EURO y solo la parte entera</td>
        <td>{{ importe | currency:'EUR':true:'4.0-0' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ importe }}</td>
        <td>number'.2-2'</td>
        <td>Para quitar el simbolo</td>
        <td>{{ importe | number:'.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ valorDePromesa }}</td>
        <td>async</td>
        <td>Async: despliega directamente la info para que no haga falta acceder, es bastante util en debugs</td>
        <td>{{ valorDePromesa | async }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ date1 }}</td>
        <td>date</td>
        <td>Por defecto te pone el siguiente formato</td>
        <td>{{ date1 | date }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ date1 }}</td>
        <td>date</td>
        <td></td>
        <td>{{ date1 | date }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ date1 }}</td>
        <td>date:'medium'</td>
        <td></td>
        <td>{{ date1 | date:'medium' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ date1 }}</td>
        <td>date:'MMMM - dd'</td>
        <td></td>
        <td>{{ date1 | date:'MMMM - y' }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre2 }}</td>
        <td>capitalizado</td>
        <td>Capitalizado</td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>nombre | contrasena:activar</td>
        <td>Contraseña activar/ocultar
            <br>
            <button (click)="activar = !activar"
                    type="button"
                    class="btn btn-outline-primary">Activar/Desactivar</button>
        </td>
        <td>{{ nombre | contrasena:activar }}</td>
      </tr>
    </tbody>
    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arrCar | slice:3:5">{{ item }}</li>
    </ul>

    <h4>JSON</h4>
    <pre>
        {{ heroe | json }}
    </pre>
  </table>

  <br>
  <h4>YouTube</h4>
  <small>Video Pipe</small>

  <iframe width="560" height="315" [src]="video | domseguro: youtubeUrl " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
